<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:fragment="title">PLAYGROWN`D</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
<th:block th:replace="~{fragments/config :: config}"></th:block>

<div class="layout">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-wrap">
        <div th:replace="~{fragments/userInfo :: userInfo}"></div>

        <main class="main" layout:fragment="content">
            <div class="card">기본 레이아웃</div>
        </main>
    </div>
</div>

<script th:src="@{/js/common/sidebar.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>