<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:fragment="title">PLAYGROWN`D</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="layout">
    <!-- 사이드바 include -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <script th:src="@{/js/common/sidebar.js}"></script>

    <!-- 페이지 개별 컨텐츠 -->
    <main class="main" layout:fragment="content">
        <div class="card">기본 레이아웃</div>
    </main>
</div>
</body>
</html>
