<!-- 문서 골격 없이 fragment 요소만 -->
<aside th:fragment="sidebar" class="sb">
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <div class="brand">
        <a th:href="@{/gotopage/{no}(no=6)}" aria-label="홈으로">
            <img id="logo" th:src="@{/img/horizontal_logo.png}" alt="logo" style="display:block;"/>
        </a>
    </div>

    <div class="title" role="button" aria-controls="menu-quiz" aria-expanded="true">퀴즈</div>
    <ul id="menu-quiz" class="menu-list">
        <li><a href="#">자바 메서드</a></li>
        <li><a href="#">정보처리기사</a></li>
    </ul>

    <div class="title" role="button" aria-controls="menu-study" aria-expanded="false">공부</div>
    <ul id="menu-study" class="menu-list is-collapsed">
        <li><a href="#">개발일지</a></li>
        <li><a href="#">학습기록</a></li>
    </ul>

    <div class="title" role="button" aria-controls="menu-etc" aria-expanded="false">기타 서비스</div>
    <ul id="menu-etc" class="menu-list is-collapsed">
        <li><a href="#">담배 STT</a></li>
        <li><a href="#">ADMIN</a></li>
    </ul>
</aside>
